{{#if filter}}
<h2 style="margin-left: 10px">Explore: {{this.filter}}</h2>
{{/if}}

<<<<<<< HEAD

=======
>>>>>>> 3755183864969e5d58f50ec94cb776a09f9d9513
{{#if tag}}
    {{#each data}}
        <a href="/Tag/{{this}}" id="groupDisp">{{this}}</a>
    {{/each}}
{{/if}}

{{#if about}}
    <div class="about-page">Welcome to TerraPin. Here, users can upload and browse TerraPins (hotspots) on and around UMD's campus. Each pin is categorized, and users can browse through categories or look at random new pins!</div>
    <div class="about-page">Authors: Divya Gupta, Tiffany Tran, Anna Mazzanti</div>
{{/if}}
<<<<<<< HEAD
{{#unless navitem}}
=======
>>>>>>> 3755183864969e5d58f50ec94cb776a09f9d9513
    {{#each data}}
        <article id="displayCard">
            <div id="name-and-rating">
                <div id="pinName">{{this.name}}</div>
                <div id="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div style="border-top: 1px solid #2E577C; padding-bottom:5px;"></div>
            <div id="space"></div>
            <div class="center-cropped" 
                    style="background-image: url({{this.image}});">
                </div>
                <div id="space"></div>
                <span class="pinInfo">Uploaded by: {{this.user}}</span>
                <div id="space"></div>
                <span class="pinInfo">Average rating: {{this.avgRating}} stars</span>
                <div id="space"></div>
                <div style="border-top: 1px solid #2E577C; padding-bottom:10px;"></div>
                {{!-- <span id="pinTags" class="pinInfo">Tags:</span> --}}
                    {{#each this.tags}}
                            <a href="/Tag/{{this}}" id="groupDisp">{{this}}</a>
                    {{/each}}
            {{!-- display picture --}}
            {{!-- <span id="displayLeft">
                <div class="center-cropped" 
                    style="background-image: url({{this.image}});">
                </div>
            </span>
            {{!-- display other info --}}
            {{!-- <span id="displayRight">
                <span id="pinName">{{this.name}}</span>
                <div id="space"></div>
                <span class="pinInfo">Uploaded by: {{this.user}}</span>
                <div id="space"></div>
<<<<<<< HEAD
                <span class="pinInfo">Average rating: {{this.avgRating}} stars</span>
=======
                <span class="pinInfo">Ranking: {{this.ranking}}</span>
>>>>>>> 3755183864969e5d58f50ec94cb776a09f9d9513
                <div id="space"></div>
                <span id="pinTags" class="pinInfo">Tags:</span>
                <div id="space"></div>
                    {{#each this.tags}}
                            <a href="/Tag/{{this}}" id="groupDisp">{{this}}</a>
                    {{/each}}
            </span> --}}
        </article>
        <br>
        {{else}}
        <article style="padding-left: 10px;">
            <h2>No pins yet - be the first to add one!</h2>
        </article>
    {{/each}}
{{/unless}}

