
{{#if filter}}
    <h2 style="margin-left: 10px">Explore: {{this.filter}}</h2>
{{/if}}

{{#if tag}}
    {{#each data}}
        <a href="/Tags/{{this}}" id="groupDisp">{{this}}</a>
    {{/each}}
{{/if}}

{{#if about}}
    <div class="about-page">Welcome to TerraPin. Here, users can upload and browse TerraPins (hotspots) on and around UMD's campus. Each pin is categorized, and users can browse through categories or look at random new pins!</br>
    Authors: Divya Gupta, Tiffany Tran, Anna Mazzanti</div>
{{/if}}
{{#unless navitem}}
    {{#each data}}
        <article id="displayCard">
            <div class="left-right">
                <div id="pinName">{{this.name}}</div>
                <div id="star-rating">
                    {{#times this.avgRating}}
                        <span class="fa fa-star checked"></span>
                    {{/times}}
                </div>
            </div>
            <div style="border-top: 1px solid #2E577C; padding-bottom:5px;"></div>
            <div id="space"></div>
            <div class="center-cropped" 
                    style="background-image: url({{this.image}});">
                </div>
                <div id="space"></div>
                <span class="pinInfo">Description: {{this.description}}</span></br>
                <div id="space"></div>
                <span class="pinInfo">Uploaded by: {{this.user}}</span>
                <div id="space"></div>
                <span class="pinInfo">Average rating: {{this.avgRating}} stars</span>
                <div id="space"></div>
                <div class="left-right">
                    <span class="pinInfo" style="float:left">Read the reviews: </span>
                    <a href="/createReview" style="float:right;">Add a Review</a>
                </div>
                {{!-- DISPLAYING REVIEWS --}}
                {{#each data.reviews}}
                    <div class="left-right">
                        <p style="float:left;">{{this.author}}</p>
                        <div id="star-rating">
                            {{#times this.rating}}
                                <span class="fa fa-star checked"></span>
                            {{/times}}
                        </div>
                    </div>
                    <div style="border-top: 1px solid #2E577C; padding-bottom:10px;"></div>
                {{/each}}

                <div style="border-top: 1px solid #2E577C; padding-bottom:10px;"></div>
                {{!-- <span id="pinTags" class="pinInfo">Tags:</span> --}}
                    {{#each this.tags}}
                            <a href="/Tags/{{this}}" id="groupDisp">{{this}}</a>
                    {{/each}}
        </article>
        <br>
        {{else}}
        <article style="padding-left: 10px;">
            <h2>No pins yet - be the first to add one!</h2>
        </article>
    {{/each}}
{{/unless}}